<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.escan">

    <!--允许应用打开网络套接口-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--清除应用缓存-->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <!--显示系统窗口 允许系统弹窗-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--允许访问摄像头进行拍照-->
    <uses-permission android:name="android.permission.CAMERA" />




    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
